.stdprofile{
    margin-left: 10px;
}
.profile{
    padding-top: 10px;
}

.profiledetails{
    margin-top: 20px;
   
}

.profiledetails p{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    border: 3px solid rgb(229, 215, 232);
    border-radius: 06px;
    padding-left: 4px;
   
}

.profiledetails p ul{
   list-style: none;
    margin-left: 20px;
}
.profiledetails p ul li{
    font-weight: bold;
}

.searchprofile{
    border-radius: 0;
}