.marks{
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marks .marks-submit{
    margin-right: 10px;
    border-radius: 0;
}

.marks .marks-clear{
    border-radius: 0;
}
.marks .add{
    float: right;
    width: 60px;
    border-radius: 0;
    background-color: rgb(24, 134, 230);
    color: white;
}

.chart{
    float:right;
    border-radius: 0;
}

.resultsbox{
    background-color:  rgb(248, 251, 252);
    margin-top: 15px;
    margin-bottom: 15px;
}

.graph{
    background-color: rgb(248, 251, 252);
}

.filterresults{
    margin-top: 50px;
}

.resultstable{
    margin-top: 20px;
}