header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:  white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.feedback h3{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 35px;
    color:#460691;
    text-align: center;
}
.classes,.row-aboutus,.map,.row-contactus,.feedback{
    padding-top: 80px;
}

.circular-image {
    width: 400px;
    height: 500px;
    background-image: url('https://siyathra.lk/assets/img/siyathra-kamburupitiya.jpeg');
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.row-aboutus h3{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 35px;
    color:#460691;
    text-align: left;
}
.aboutussec p{
    text-align: justify;
    line-height: 2.0;
}
.aboutussec{
    justify-content: center;
   padding-top: 120px;
   text-align: justify;
    text-justify: inter-word;
}

.aboutussec .aboutbtn{
    background-color: #460691;
    border: 1px solid #460691;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    height: 55px;
    width: 160px;
    box-shadow: 0 1px 5px #460691;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.aboutussec .aboutbtn:hover{
    background-color: white;
    color: black;
    
}
