
.login{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    
}


.login h4{
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins',serif;
    font-weight: bold;
    color: #460696;
    line-height: 2;
}

.btnlogin{
    width: 100px;
    height: 45px;
    background-color: #460696;
    border-style: none;
    border-radius: 0;
   float: right;
}

.btnlogin:hover{
    background-color: #460696;
}

a{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    flex-direction: column;
    display: flex;
}

/* img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

} */

