.timetable h1{
    font-family: 'Noto Serif Sinhala',serif;
    color: #000000;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-top : 100px;
}

.timetable h3{
   padding-top : 10px;
    font-family: 'Noto Serif Sinhala',serif;
    color: #460691;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
}

.timetable table{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}

.timetable table th{
    background-color: black;
    color: white;
}