.qrc{
    margin-top:10px;
    
}

.qrc2{
    margin-top: 10px;
    margin-left: 20px;
}
.searchqr{
    border-radius: 0;
    float: right;
}

.qrcodead{
    margin: 10px;
}

.printqr{
    border-radius: 0;
    align-items: center;
    margin-left: 90px;
    margin-top: 10px;
}