Nav{
    font-weight: bold;
    font-style: italic;
    color: black;
}

.tab h1{
    text-align: center;
}

.card {
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px;
    box-shadow: none;
   
  }
  
  .card img {
    width: 300px;
    height: 250px;
    display: block;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-content h2 {
    text-align: center;
    font-family: 'Noto Serif Sinhala', serif;
    padding-top: 5px;
    font-weight: bold;
    color: #460691;
    font-size: 18px;
    margin-top: 0;
  }
  
  .card-content p {
    font-size: 14px;
    cursor: pointer;
  }

 

  .result{
    border: 4px dashed rgb(103, 103, 103);
    margin-bottom: 10px;
    height: 250px;
  }

  .result p{
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8px;
    color: #460691;
    font-weight: bold;
    
  }

  .qrcol .qrcode .qrimg{
    margin-top: 100px;
  }

  .qrcode .btnqrcode{
      width: 100px;
      align-items: center;
      background-color: rgb(21, 136, 224);
      margin-left: 100px;
  }