Nav{
  font-weight: bold;
  font-style: italic;
  color: black;
}

.tab h1{
  text-align: center;
}

.card {
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px;
  box-shadow: none;
 
}

.card img {
  width: 300px;
  height: 250px;
  display: block;
}

.card-content {
  padding: 16px;
}

.card-content h2 {
  text-align: center;
  font-family: 'Noto Serif Sinhala', serif;
  padding-top: 5px;
  font-weight: bold;
  color: #460691;
  font-size: 18px;
  margin-top: 0;
}

.card-content p {
  font-size: 14px;
  cursor: pointer;
}



.result{
  border: 4px dashed rgb(103, 103, 103);
  margin-bottom: 10px;
  height: 250px;
}

.result p{
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 8px;
  color: #460691;
  font-weight: bold;
  
}

.qrcol .qrcode .qrimg{
  margin-top: 100px;
}

.qrcode .btnqrcode{
    width: 100px;
    align-items: center;
    background-color: rgb(21, 136, 224);
    margin-left: 100px;
}

.subjects{
  border: 1px solid rgb(226, 225, 225);
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 200px;
  margin-top: 40px;

}

.subjects p{
  font-size: 24px;
  font-weight: bold;
  background-color: #70169d;
  text-align: center;
  padding-left: 10px;
  font-family: 'Poppins';
  color: rgb(255, 255, 255);
}

.subjects h5{
  font-size: 26px;
  font-weight: bold;
  padding-left: 10px;

  color: #1b1d1f;
}
