*
.homerow{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 83%, rgb(238, 237, 239) 100%);
    height: 700px;
    width: auto;
}

.homerow img{
   padding-top:100px ;
   width: 100%;
   max-width: 500px;
   height: 100%;
}
    .home-content{
        height: 500px;
        display: flex;
        padding-left: 100px;
        padding-top: 200px;
        justify-content: center;
        align-items: left;
        flex-direction: column;
    }

    .home-content h1{
        font-family: 'Noto Serif',serif;
        color: #460691;
        font-weight: bold;
        font-style: italic;
        text-align: left;
        font-size: 40px;
        line-height: 60px;
    }

    .home-content h3{
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        line-height: 25px;
        color: black;

    }

    .home-content .lmsbtn{
        background-color: #460691;
        border: 1px solid #460691;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        padding: 13px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        height: 55px;
        width: 180px;
        box-shadow: 0 1px 5px #460691;
    }

    .home-content .lmsbtn:hover{
        background-color: white;
        color: black;
        font-weight: 400;
    }

    @media (max-width:1000px) {
        #homeimg{
            display: none;
        }
       *{
            text-align: center;
        }
        .home-content h1{
            font-size: 25px;
        }
       
    }
    /**/