.account-table td{
   justify-content: center;
}

.account-table th{
    background-color: rgb(79, 29, 194);
}
.account-table .edituser{
    background-color: rgb(46, 105, 232);
    margin-left: 50px;
    border-style: none;
}
.account-table .edituser:hover{
    color: white;
}
.account-table .deluser:hover{
    color: white;
}
.account-table .deluser{
    background-color: red;
    margin-left: 50px;
    border-style: none;
    color: white;
}

.create{
    border-radius: 0px;
    width: 90px;
    height: 40px;
}