.age{
    padding-bottom: 9px;
}

.reg{
    padding-bottom: 10px;
    float:right;
}

Table th{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

table td{
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.savebtn{
    background-color: #460691;
    border: 1px solid #460691;
    border-radius: 0px;
    color: rgb(255, 255, 255);
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    width: 140px;
    box-shadow: 0 1px 5px #460691;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 10px;
    float: right;
}

.TeaReg h4{
    text-align: center;
    color: #460691;
    margin-top: 20px;
}